@font-face {
    font-family: myfont;
    src: url('./fonts/Bohemian typewriter.ttf');
}

body {
    
    margin: 0;
    padding: 0;
     
    background-color: rgb(233, 223, 191);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      min-height: 100vh;
    }

#startbild{

    position: relative;
    background-image: url("./images/hintergrund.png");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;

}


 #modelcontainer{
display: flex!important;
position: absolute !important;
top:0;
width: 100vw !important;;
    height: 100vh!important;
    align-items:center!important;
    justify-content: left!important;

 }    


model-viewer{

width: 50vw!important;

 
}

h1,.nav-links{
    position: relative;
    z-index:2;
    pointer-events: auto;
}
 
#main{
    width: 20vw;
    align-items: center;
    margin-top: 20vw;
    margin-left: 40vw; 
}
p {
    font-family: myfont;
    font-size: 2vw;
    color:  rgb(97, 30, 14);
    margin-bottom: 5px;
    text-align: left;
}

.kugel{
    position: fixed;
    top: 25 vh;
    left: 0vw;
    z-index: 1000;
    width: 40vw;
    height: 80vh;
    display: block;

}
 .kugel model-viewer{
    width: 100%;
    height: 100%;
 }

#bild2{

    position: relative;
    background-image: url("./images/2.png");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;

}


 #bilder{
    width: 40vw;
    margin-left: 40vw;
 }
  
 
 
