body{
    background-color: rgb(22, 92, 153);
}

h1{
    font-family: myfont;
    font-size: 5vw;
    color: rgb(246, 191, 216);
    text-align: center;
    margin-top: 10vw;

}

model-viewer{
    width: 100%;
}
    
    @font-face {
    font-family: myfont;
    src: url(./fonts/Bohemian\ typewriter.ttf);
}